.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../violet.jpg");
    
    color: white;
    background-attachment: fixed;
}

.sectionTitle {
    height: 7vh;
}

.portText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}
.portText h1{
    font-size: 40px;
}
.portText p {
    width: 100%;
    font-family: 'News Cycle', sans-serif;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.774);
    margin-top: 0;
    margin-bottom: 3%;
}

.filters{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.filters button{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 22px;
    padding: 1%;
    width: 20%;
    background-color:rgba(255, 255, 255, 0.164);
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    margin-bottom: 3%;
    margin-top: 2%;
}

.filters button:hover {
    box-shadow:#f7f7f780 0px 2px 30px 0px;
}

.cards {
    width: 92%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}




.portText h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
}

.portText p {
    font-family: 'News Cycle', sans-serif;
}


/* WORKCARD */

.workCard{
    width: 31%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.workCard a {
    color:#ba74fc; 
    margin-left: 1%;
    font-weight: 700;
}
.workCard h5 {
    margin-bottom: 0%;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 19px;
    margin-top: 4%;
    
}
.workCard h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'News Cycle', sans-serif;
}
.workCard img {
width: 100%;

}

.workCard p {
    width: 100%;
    font-size: 18px;
    font-family: 'News Cycle', sans-serif;
    background-color:transparent;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-left: 7px;

}
