.about img {
    width: 24%;
}

.about {
    display:flex;
    flex-direction: column;
}

.text{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.671);
    margin-left:2%;
    height: 100%;
    
}

.text h1{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 1%;
}
.text h3{
    font-weight: 100;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 29px;
    margin-top: 2%;
    margin-bottom: 2%;
    color:#b16ce6
} 
.text button{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 22px;
    padding: 1%;
    width: 26%;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.89);
    background-color: #38313d93;
    border-radius: 0px;
    margin-top: 1%;
    
}
.text button:hover {
    background-color: #aa57ee93
}
.text p {
    text-align: start;
    width: 80%;
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.774);
}


.card {
    display: flex;
    width: 85%;
    align-items: center;
    margin-top: 6%;
    margin-left: 7%;
   
}

.about{
    background-color:rgba(0, 0, 0, 0.932);
    height: 80vh;
}

@media screen and (max-width: 767px) {
    
    .card {
        margin-top: 6%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .about img {
        width: 47%;
    }
    .text {
        margin-top: 3%;
        align-items: center;
        margin-left: 0;
        width: 100%;
    }
    .about {
        height: 96vh;
        align-items: center;
    }
    .text p {
        text-align: center;
    }
    .text button {
        background-color: #7211b793;
        width: 52%;
    }
}