.ReactModal__Content.ReactModal__Content--after-open{
    display: flex;
    flex-direction: column;
}

.verMas:hover{
    background-color: rgb(180, 72, 0) !important;
    cursor: pointer;
}

.verMas {
        background-color: rgb(200, 100, 32);
        width: 100%;
        border: none;
        background-color: orange;
        display: flex;
        padding: 1%;
        margin: 2%;
        justify-content: center;
        text-decoration: none;
        color: white !important;
        font-family: 'News Cycle', sans-serif;
        font-size: 20px;
}