.ReactModal__Content.ReactModal__Content--after-open{
    display: flex;
    flex-direction: column;
}

.verMas:hover{
    border: 1px solid orange !important;
    cursor: pointer;
    color: orange !important;
}

.verMas {
        background-color: rgb(200 100 32 / 0%);
        border: 1px solid #ffffff8a;
        width: 100%;
        display: flex;
        padding: 1%;
        margin: 2%;
        justify-content: center;
        text-decoration: none;
        color: white !important;
        font-family: 'News Cycle', sans-serif;
        font-size: 20px;
}