
.contact {
    background-color: rgb(0, 0, 0);
    color: white;
    padding-top: 4%;
   
}
.contact h1{
    font-size: 50px;
    font-family: 'Pathway Gothic One', sans-serif;

}
.contact p {
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.664);
}

.cc {
    display: flex;

}

.ccLogos {

    width: 35%;

}

.question {
   
    display: flex;
    justify-content: flex-end;
    margin-top: 3vh;

}
.question svg {
    color: #d44bfd;
    margin-top: 0.5%;
}
.question div {
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 75%;
    margin-left: 2%;
}

.question h3, h4 ,p{
    margin-top: 0;
    text-align: start;
}

.question h3 {
    font-size: 25px;
    font-family: 'Pathway Gothic One', sans-serif;
    margin-bottom: 1%;
    color: rgba(255, 255, 255, 0.747);
}

.question p {
    font-family: 'News Cycle', sans-serif;
    margin-bottom: 1%;
    font-size: 18px;
  
}

.question p span{
    color:#d44bfd
}

/* CONTACT FORM */

.form {
    width: 60%;
}

.form form {   
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-left: 4%;
}

.form form .email, .form form .subject , .form form .name{
    width: 100%; margin-top: 3%;
}


.form form .btnHcontainer {
    margin-top: 5%;
    margin-bottom: 14%;
}

.form label {
    color: rgba(255, 255, 255, 0.664);
}
.form input{
    border:transparent;
    background-color:#1c1d24;
    border-radius: 3px;
    color: white;
}


.subject {
    background-color:#1c1d24;
    height: 20vh;
}
.subject fieldset {
    height: 20vh;
    color: white;
}

.subject textarea{
    color: white;
}

/* BOTON BANNER */


.form .btnHcontainer{
    margin-top: 2%;
}
.form .btnHcontainer .btn {
    border: transparent;
      position: relative;
      display: inline-block;
      width: 277px;
      height: 50px;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      background-color: transparent;
      cursor: pointer;
      text-decoration:none;
      font-family: 'Pathway Gothic One', sans-serif;
      font-weight:700;
      font-size:20px;
      letter-spacing: 0.045em;
  }
  
  .form .btnHcontainer .btn svg {
      position: absolute;
      top: 0;
      left: 0;
      
  }
  
  .form .btnHcontainer .btn svg rect {
      stroke-width: 4;
      stroke-dasharray: 353, 0;
      stroke-dashoffset: 0;
      -webkit-transition: all 600ms ease;
      transition: all 600ms ease;
      
  }
  
  .form .btnHcontainer .btn span{

        background: #b16ce6;
        background: -moz-linear-gradient(left,  #66269b 0%, #b16ce6 100%);
        background: -webkit-linear-gradient(left,  #66269b 0%,#b16ce6 100%);
        background: linear-gradient(to right,  #66269b 0%,#b16ce6 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       
      }

  
  .form .btnHcontainer .btn:hover svg rect {
      stroke-width: 4;
      stroke-dasharray: 196, 543;
      stroke-dashoffset: 437;
    
  }

  @media screen and (max-width: 767px) {
    .contact{
        width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .contact p{
        width: 90%;
    }
   .cc{
        
        width: 100%;
        display: unset;
    }
    
    .ccLogos{
        display: flex;
        width: 100%; 
        justify-content: flex-end;
    }
    .question{
        width: 48%;
        display: flex;
        margin-top: 2vh;
        justify-content: center;
    }
    .question div {
    width: 100%;
    }
    .question h3{
        font-size: 24px;
    }
    .form {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 6%;
    }
  
  }